{% extends 'brands.html' %}

{% block title %}
Nikon
{% endblock title %}
{% block body %}
<div class="container my-3">
    <h2 style="color: black; text-align: center;font-style:inherit;"><b>Nikon Latest Model</b></h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/d2.jpg" class="d-block w-100" alt="...">


                <div class="card-body">
                    <p class="card-text"><b>Price= $500<br>
                            Model No.- D5300</b>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" style="color:#0be6e6;">Buy
                                Now</button>
                        </div>
                        <small class="text-muted">5 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/d2.jpg" class="d-block w-100" alt="...">

                <div class="card-body">
                    <p class="card-text"><b>Price= $400<br>
                            Model No.- D5500</b>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" style="color: #0be6e6;">Buy
                                Now</button>
                        </div>
                        <small class="text-muted">5 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/d2.jpg" class="d-block w-100" alt="...">

                <div class="card-body">
                    <p class="card-text"><b>Price= $300<br>
                            Model No.- D3200</b>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" style="color: #0be6e6;">Buy
                                Now</button>
                        </div>
                        <small class="text-muted">5 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}